assets/bnid
assets/card_category
assets/card_costume
assets/card_metamorphic
assets/card_transform
assets/card_transform
assets/chain_battle
assets/comic_text
assets/condition_special
assets/dbstory
assets/fonts
assets/gasha
assets/genkai_battle
assets/ingame
assets/item
assets/layout
assets/lua
assets/mydata
assets/outgame
assets/packaged_movies
assets/script
assets/sd_battle
assets/sugoroku
assets/lua
assets/dokkan_field
assets/line
assets/shader
assets/character/card_bg
assets/character/costume
assets/character/card/*/en
assets/character/card/*/fr
assets/character/card/*/ja
assets/character/card/*/ko
assets/character/card/*/zh
datas/cards
datas/categories
datas/links
.gitconfig